<div class="user-profile d-flex flex-row">
  <div class="user-profile-img">
    <%# プロフィール画像の登録状態で表示を変更 %>
    <% if @user.image.present? %>
      <%= image_tag @user.image, class: "user-show-icon" %>
    <% else %>
      <%= image_tag "profile_icon.png", class: "user-show-icon" %>
    <% end %>
    <%# /プロフィール画像の登録状態で表示を変更%>
  </div>
  <ul class="user-show-right ">
    <div class="user-show-user-name"><%= @user.user_name %>
      <%= render "follow_btn" %>
    </div>
    <li class="user-show-postcount">投稿<%= @user.posts.count %>件
      <%= render "follow_count" %>
    </li>
    <% if @user.profile.present? %>
      <li class="user-show-profile"><%=safe_join(@user.profile.split("\n"),tag(:br)) %></li>
    <% end %>
  </ul>
</div>