<%= render "shared/header" %>

<%= form_with model: @user, class: 'registration-main', local: true do |f| %>

<div class='edit-form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      プロフィールを編集
    </h1>
  </div>
  <%= render 'shared/error_messages', model: f.object %>

  <div class="user-edit">
    <div class="form-group-top">
      <%= f.label :image, class:"user-image-up" do %>
        <%if @user.image.present? %>
          <%= image_tag current_user.image, class: "edit-user-icon" %>
        <% else %>
          <%= image_tag "profile_icon.png", class: "edit-user-icon" %>
        <% end %>
        <%= f.file_field :image, class: 'uploader', style: 'display:none' %>
      <% end %>
      <h1 class="edit-user-name"><%= current_user.user_name %></h1>
      <%= f.label :image, "プロフィール写真を変更", class: "user-edit-image" %>
      <%= f.file_field :image, class: 'uploader', style: 'display:none' %>
    </div>
    <div class="form-group">
      <%= f.label :name, "名前", class: "user-edit-text" %>
      <%= f.text_area :name, class:"input-edit", id:"name", placeholder:"フルネーム", maxlength:"40" %>
    </div>
    <div class="form-group">
      <%= f.label :user_name, "ユーザーネーム", class: "user-edit-text"%>
      <%= f.text_area :user_name, class:"input-edit", id:"username", placeholder:"ユーザーネーム", maxlength:"40" %>
    </div>
    <div class="form-group">
      <%= f.label :profile, "自己紹介", class: "user-edit-text"%>
      <%= f.text_area :profile, class:"input-profile", id:"profile" %>
    </div>
    <div class="form-group">
      <%= f.label :email, "メールアドレス", class: "user-edit-text"%>
      <%= f.email_field :email, class:"input-edit", id:"email", placeholder:"メールアドレス" %>
    </div>
    <div class='register-btn'>
      <%= f.submit "変更する" ,class:"register-blue-btn" %>
    </div>
  </div>
</div>
<% end %>

<%= render "shared/second-footer"%>
