<header class='top-page-header'>
  <div class='search-bar-contents'>
    <div class="header-img">
      <%= link_to image_tag("logo (1).png", class: "roots-icon2"), "/" %>
    </div>
    <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "検索", class: "input-box" %>
    <% end %>
    <div class='nav'>
      <ul class='lists-right'>
        <li><%= link_to image_tag("post-new.png", class: "post-new-icon"), new_post_path %></li>
        <div class="dropdown">
          <div class="header-user-icon" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%# プロフィール画像の登録状態で表示を変更 %>
            <% if current_user.image.present? %>
              <%= image_tag current_user.image, class: "user-icon" %>
            <% else %>
              <%= image_tag "profile_icon.png", class: "user-icon" %>
            <% end %>
            <%# /プロフィール画像の登録状態で表示を変更 %>
          </div>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to "プロフィール", user_path(current_user.id), class: "dropdown-item" %>
            <%= link_to "プロフィール編集", edit_user_path(current_user.id), class: "dropdown-item"%>
            <%= link_to "お気に入り一覧", favorites_posts_path(current_user.id), class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
      </ul>
    </div>
  </div>
</header>