<%= render "shared/header" %>
<div class="post-show-contents">
  <div class="post-show-content">
    <div class="post-video-content">
      <%if @post.video.present? %>
       <video class="post-video-show" src="<%= rails_blob_path(@post.video) %>"type="video/mp4" controls></video>
      <% elsif @post.youtube_url.present? %>
        <iframe class="post-video-show" height="500" src="https://www.youtube.com/embed/<%= @post.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <% end %>
    </div>
    <div class="post-show-caption">
      <span class="post-caption"><%= @post.caption %></span>
      <span class="post-time"><%= time_ago_in_words(@post.created_at)+"前に投稿" %></span> 
      <% if @post.user_id == current_user.id %>
        <div class="post-show-btn-list">
          <div class="post-show-btn">
            <%= button_to "投稿の編集", edit_post_path(@post.id), method: :get, class: "post-edit-btn" %>
          </div>
          <div class="post-show-btn">
            <%= button_to "投稿の削除", post_path(@post.id), method: :delete, class: "post-delete-btn" %>
          </div>
        </div>
      <% end %>
    </div>
    <% if @post.describe.present? %>
      <div class="post-show-describe">
        <p><%=safe_join(@post.describe.split("\n"),tag(:br)) %></p>
      </div>
    <% end %>
    <% if @post.share_url.present? %>
      <div class="post-show-url">
        <h2 class="post-show-link-title">オススメ</h2>
        <%= Rinku.auto_link(@post.share_url, :all, 'target="_blank"').html_safe %>
      </div>
    <% end %>
    <div class="post-show-place">
      <%= @post.place %>
    </div>
    <%= render 'shared/map', collection: @post %>
    <div class="post-show-comments">
      <h2 class="comments-text">コメント</h2>
    </div>
  </div>
</div>
